/* general styling */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff; /* change text color to white */
  text-shadow: 2px 2px #333; /* add text shadow */
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #4caf50; /* add background color */
  padding: 20px; /* add padding */
  border-radius: 10px; /* add border radius */
}

/* recent scores section */
.Re-score {
  margin-bottom: 40px;
  width: calc(55% - 10px);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-height: 450px;
  overflow: scroll;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#RefreshBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#RefreshBtn:hover {
  background-color: #3e8e41;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px #ccc;
  transition: transform 0.3s ease;
}

li:hover {
  transform: translateY(-5px);
}

li span {
  font-size: 20px;
  color: #4caf50;
  text-shadow: 1px 1px #eee;
}

/* add score section */
.add-score {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  width: calc(35% - 50px);
  height: 300px;
}

.title2 {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-shadow: 1px 1px 1px #ccc;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 2px 2px 2px #ccc;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* main section */
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
